/* CSS for my About Me Page */

#info {
  display: inline-block;
  position: relative;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

body {
  display: flex;
  flex-direction: column;
}

#caption, #glacier, #aboutmetext {
  align-self: center;

}

#glacier {
  top: 30px;

}

#caption {
  top: 430px;
  right: 110px;
  z-index: 4;
  position: absolute;
}

#aboutmetext {

}

#abme {

}
