/* Colorful and fun CSS theme for my personal website*/

/* general */

nav ul {
  font-family: 'Work Sans', sans-serif;
  display: flex;
}

nav {
  max-width: 1000px;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  z-index: 99999;
}

nav li {
  display: inline-grid;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  z-index: 99999;
}

nav li a {
  z-index: 99999;
}

nav li a:link, nav li a:visited {
  color: #F2F9FF;
  text-align:center;
}

    /* general settings for text of nav items */
.homl a, .prol a, .perl a {
  opacity: .95;
  padding: 10px;
}

.homl a:hover, .prol a:hover, .perl a:hover { opacity: .95;
}

.homl, .prol, .perl {
  flex-grow: 1;
}

    /* color for each nav element */
.homl a, .prol a, .perl a { background-color: #081C2D;
}


.homl a:hover, .prol a:hover, .perl a:hover {
  color: #081C2D;
  background-color: #F2F9FF;
}


header {
  background-color: #F2F9FF;
}

body {
  background-color: #F2F9FF;
  font-size: 100%;
  font-family: 'Work Sans', sans-serif;
  line-height: 1.4em;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
  text-transform: lowercase;
  text-align: center;
  font-weight: bolder;
}

h1 {
  font-size: 300%;
  font-weight: bold;
  line-height: 1.1em;
  color: #E85D75;
  font-style: italic;
}

h2 {
  font-size: 150%;
  color: #081C2D;
}

h4 {
  font-size: 125%;
  color: #E85D75;
}

h3 {
  font-size: 125%;
  font-family: 'Playfair Display', serif;
  text-transform: lowercase;
  text-align: left;
  color: #1173D0;
}

/* index.html specific */

#content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

#noteimg {
  width: 800px;
  padding-top: 550px;
}

#introtext {
  width: 340px;
  padding-top: 500px;
  padding-left: 400px;
  z-index: 9999;
}

#connect {
  padding-right: 430px;
  padding-top: 720px;
  z-index: 9999;
}

#linkedin {
  padding-right: 430px;
  padding-top: 880px;
  z-index: 999;
}

#linkedin a, #connect a {
  color: #081C2D;
  font-weight: bold;
  text-transform: lowercase;
  font-family: 'Playfair Display', serif;
}


#connect, #linkedin, #notebook, #introtext {
  flex-grow: 1;
  position: absolute;;
}

/* personal.html specific */

/* professional.html specific */

/* unsorted */



main {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  max-width: 1000px;
}

ul {
  text-align: left;
}

p {
  margin-left: auto;
  margin-right: auto;
}

p.source {
  font-size:75%;
  text-align: center;
}

address {
  font-family: 'Work Sans', sans-serif;
  font-size:80%;
  line-height: .7em;
  text-align: center;
}

a {
  font-style: normal;
  text-decoration: none;
}

a:link {
  color: #E85D75;
}

a:visited {
  color: #1173D0;
}

address a:link{
  color: #E85D75;
}

footer {
  margin-bottom: 25px;
}

em {
  font-style: normal;
  font-family: 'Work Sans', sans-serif;
  text-transform: lowercase;
  font-weight: bold;
}

em.de {
  font-style: oblique;
  font-family: 'Work Sans', sans-serif;
  font-weight: lighter;
  text-transform: none;
}

.exp{
  max-width: 600px;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.exp h4 {
  text-align: left;
}

.prof {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.in p {
  text-align: center;
  max-width: 600px;
  min-width: 400px;
}

body p {
  text-align: center;
  max-width: 600px;
}

#blurb {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#pers {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  align-self: center;
}

#caption, #glacier, #aboutmetext {
  flex-grow: 1;
  position: absolute;;
}

#glacier {
  padding-top: 50px;
}

#caption {
  padding-top: 920px;
  padding-left: 445px;
  z-index: 999;
}

#aboutmetext {
  padding-top: 1400px;
  width: 800px;
  z-index: 9999;
}
