/* Colorful and fun CSS theme for my personal website*/

/* general */

p {
  margin-left: auto;
  margin-right: auto;
}

ul {
  text-align: left;
}

/* Navigation list setting */
nav ul {
  font-family: 'Work Sans', sans-serif;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

nav {
  max-width: 1000px;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  z-index: 99999;
}

.top {
  display: inline-grid;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  z-index: 99999;
}

.top p {
  margin-left: 5px;
  margin-right: 5px;
}

.top a:link,
.top a:visited,
.top p {
  color: #F2F9FF;
  text-align: center;
  margin-top: 5px;

}

.mid {
  display: inline-grid;
  padding: 5px;
  margin-left: 3px;
  margin-right: 3px;
  z-index: 99999;
  background-color: #1173D0;
}

.mid p {
  margin-left: 3px;
  margin-right: 3px;
}

.mid a:link,
.mid a:visited,
.mid p {
  color: #F2F9FF;
  text-align: center;
  margin-top: 3px;

}

/* Project list setting */

#projlist {
  /*visibility: hidden; */
  margin-left: auto;
  margin-right: 10px;
  display: absolute;
  flex-direction: column;
}

#projlist li {
  background-color: #081C2D;
  color: #F2F9FF;
  text-align: right;
  padding: 5px;
}

/* general settings for text of nav items */
.top a,
.top p {
  opacity: .95;
  padding: 10px;
  height: 25px;
}

.top a:hover {
  opacity: .95;
}

.top {
  flex-grow: 1;
}

/* color for each nav element */
.top a,
.top p {
  background-color: #081C2D;
}


.top a:hover,
.top p:hover {
  color: #081C2D;
  background-color: #F2F9FF;
}

/* Header background color */
header {
  background-color: #F2F9FF;
}

/*General settings for the body text and background color */
body {
  background-color: #F2F9FF;
  font-size: 100%;
  font-family: 'Work Sans', sans-serif;
  line-height: 1.4em;
  margin-left: auto;
  margin-right: auto;
}

/* Settings for the headings */
h1,
h2,
h3,
h4 {
  font-family: 'Playfair Display', serif;
  text-transform: lowercase;
  text-align: center;
  font-weight: bolder;
  font-style: italic;
}

h1 {
  font-size: 300%;
  font-weight: bold;
  line-height: 1.1em;
  color: #E85D75;
  font-style: italic;
}

h2 {
  font-size: 150%;
  color: #081C2D;
}

h4 {
  font-size: 125%;
  color: #E85D75;
}

h3 {
  font-size: 125%;
  font-family: 'Playfair Display', serif;
  text-transform: lowercase;
  color: #1173D0;
  text-align: center;
}

/* index.html specific */

#content {
  display: inline-block;
  position: relative;
}

#noteimg {
  width: 800px;
}

#introtext {
  width: 340px;
  top: 50px;
  z-index: 3;

  left: 420px;
  top: 200px;
}

#connect {
  background-color: #96C6F4;
  padding-right: 100px;
  padding-left: 80px;
  padding-top: 18px;
  padding-bottom: 18px;
  clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);

  top: 369px;
  left: 80px;
}

#linkedin {
  background-color: #EE889A;
  padding-right: 88px;
  padding-left: 80px;
  padding-top: 18px;
  padding-bottom: 18px;
  clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);

  top: 450px;
  left: 80px;
}

#linkedin,
#connect {
  color: #081C2D;
  font-weight: bold;
  text-transform: lowercase;
  font-family: 'Playfair Display', serif;
  font-style: italic;
}


#connect,
#linkedin,
#introtext {
  position: absolute;
}

/* personal.html specific */

/* professional.html specific */

/* unsorted */



main {
  text-align: center;
}





p.source {
  font-size: 75%;
  text-align: center;
}

address {
  font-family: 'Work Sans', sans-serif;
  font-size: 80%;
  line-height: .7em;
  text-align: center;
}

a {
  font-style: normal;
  text-decoration: none;
}

a:link {
  color: #E85D75;
}

a:visited {
  color: #1173D0;
}

address a:link {
  color: #E85D75;
}

footer {
  margin-bottom: 25px;
}

em {
  font-style: normal;
  font-family: 'Work Sans', sans-serif;
  text-transform: lowercase;
  font-weight: bold;
}

em.de {
  font-style: oblique;
  font-family: 'Work Sans', sans-serif;
  font-weight: lighter;
  text-transform: none;
}

.exp {
  max-width: 600px;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.exp h4,
.exp p {
  text-align: left;
}

.prof {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.in p {
  text-align: center;
  max-width: 600px;
  min-width: 400px;
}

body p {
  text-align: center;
  max-width: 600px;
}

#blurb {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#pers {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  align-self: center;
}