
nav { font-family: Verdana, sans-serif;
    padding: 5px;
}

body { background-color: rgb(253, 253, 253);
      font-size: 100%;
      font-family: Verdana, sans-serif;
      line-height: 1.4em;
      text-align: center;
      max-width: 800px;
      min-width: 460px;
      margin-left: auto;
      margin-right: auto;
}

h2, h3, h4 { font-family: Georgia, Times, serif;
  text-transform: lowercase;
}

ul {text-align: left;}

p { margin-left: auto;
  margin-right: auto;
}

h2 { font-size: 300%;
    font-weight: bold;
    line-height: 1.1em;
    color: rgb(207, 11, 117);
}

h2.name { letter-spacing: .5em;
          max-width: 1600px;
}


h3 { font-size: 150%;
    color: rgb(44, 144, 215);
}

h4 { font-size: 125%;
    border-width: 2px;
    padding: 2px;
    color: rgb(5, 147, 66);
}

p.source { font-size:75%;
          text-align: center;
}

address { font-family: Verdana, sans-serif;
        font-size:80%;
        padding: 2px;
        border-width: 2px;
        padding: 5px;
        line-height: .7em;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
}

a { font-style: normal;
  text-decoration: none;
}

a:link { color: rgb(5, 147, 66);
}

a:visited { color: rgb(207, 11, 117);
}

address a:link{ color: rgb(44, 144, 215);
}
